.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    margin-top: 40px;
    border-radius: 5px;
    border: 1px solid #014AAD;
    color: #014AAD;
    cursor: pointer;
  }
  
  
  
  .paginationActive a {
    color: #FFFFFF;
    background-color: #014AAD;
  }
  
  .paginationDisabled a {
    color:#014AAD
  }
  