.text-cordonnées {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 48px;
  color: #3243e0;
  text-align: left;
}
.titre-présentation {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 48px;
  text-align: left;
  color: #fffcfc;
}
.text-présentation{
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 48px;
  text-align: left;
  color: #fffcfc;
}
