.text-cordonnées {
  font-family:Arimo;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 48px;
  color: #014AAD;
  text-align: left;
}
.titre-présentation {
  font-family:Arimo;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 48px;
  text-align: left;
  color: #FFFFFF;
}
.text-présentation{
  font-family:Arimo;
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 48px;
  text-align: left;
  color: #FFFFFF;
}
.btn-download{
    padding: 6px 20px;
    color:#FFFFFF;
    outline: none;
    border: none;
    cursor: pointer;
    font-family:Arimo;
    font-style: normal;
    font-weight: 600;
    background-color: #014AAD;
}
.btn-update{
  padding: 6px 20px;
  color:#FFFFFF;
  outline: none;
  border: none;
  cursor: pointer;
  font-family:Arimo;
  font-style: normal;
  font-weight: 600;
  background-color: #EF0E0E;
}
